In [1]:
import csv
import collections
import feather
import math

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from datetime import datetime
from scipy import sparse
import numpy as np

In [2]:
import os
import sys

# add the 'src' directory as one where we can import modules
src_dir = os.path.join(os.getcwd(), os.pardir, 'src')
sys.path.append(src_dir)

from data.basic_functions import *

# Inspect file (SQL version)

In [3]:
data_path = '../data/raw/'
holdings = load_data(data_path,'holdings')

In [129]:
holdings.sample()

,crsp_portno,report_dt,percent_tna,nbr_shares,market_val,crsp_company_key,calc_tna_x,calc_tna_y,calc_percent_tna
1836572,1001174,2005-04-30,NaN,10266.0,535269.24,3010769,NaN,NaN,NaN

In [118]:
portfolio_sum = holdings[['crsp_portno','report_dt','percent_tna']].groupby(['crsp_portno','report_dt']).agg('sum')

In [123]:
portfolio_sum_sorted = portfolio_sum.sort_values(by='percent_tna')

In [127]:
portfolio_sum_sorted[-10:]

                         percent_tna
crsp_portno report_dt
1002320     2005-09-30    493.620771
1001817     2005-03-31    495.621773
1001936     2005-03-31    498.017963
1002723     2005-06-30    675.461594
1002183     2004-09-30    946.706361
1002033     2003-06-30    999.102318
1002200     2003-06-30   1677.112366
1001742     2005-09-30   2038.701793
1001342     2004-03-31   7554.365732
1001199     2003-09-30  16105.260742

In [152]:
mask = (holdings['crsp_portno'] == 1002320) & (holdings['report_dt'] == '2005-09-30')
holdings[mask ]

,crsp_portno,report_dt,percent_tna,nbr_shares,market_val,crsp_company_key,calc_tna_x,calc_tna_y,calc_percent_tna
7151144,1002320,2005-09-30,36.198242,29624.0,1882308.96,3003728,52000.010118,52000.017486,36.198242
7151145,1002320,2005-09-30,31.929520,49312.0,1660335.04,3004314,52000.000565,52000.017486,31.929520
7151146,1002320,2005-09-30,23.125320,46736.0,1202517.28,3006728,52000.026698,52000.017486,23.125320
7151147,1002320,2005-09-30,16.793533,13800.0,873264.00,3005747,52000.015904,52000.017486,16.793533
7151148,1002320,2005-09-30,13.606796,28704.0,707553.60,3005322,52000.014275,52000.017486,13.606796
7151149,1002320,2005-09-30,13.562637,9568.0,705257.28,3000504,52000.010240,52000.017486,13.562637
7151150,1002320,2005-09-30,13.044609,11408.0,678319.68,3008440,52000.000642,52000.017486,13.044609
7151151,1002320,2005-09-30,13.024651,15456.0,677281.92,3011176,52000.006923,52000.017486,13.024651
7151152,1002320,2005-09-30,11.638069,7544.0,605179.68,3005388,52000.007222,52000.017486,11.638069
7151153,1002320,2005-09-30,10.208885,29624.0,530862.08,3002250,52000.004895,52000.017486,10.208885
7151154,1002320,2005-09-30,8.739182,5704.0,454437.68,3000673,52000.027581,52000.017486,8.739182
7151155,1002320,2005-09-30,8.711090,10488.0,452976.72,3002349,52000.004067,52000.017486,8.711090
7151156,1002320,2005-09-30,8.427971,7728.0,438254.88,3008067,52000.046739,52000.017486,8.427971
7151157,1002320,2005-09-30,7.381935,11224.0,383860.80,3002955,52000.023541,52000.017486,7.381935
7151158,1002320,2005-09-30,7.287670,9936.0,378959.04,3004916,52000.026477,52000.017486,7.287670
7151159,1002320,2005-09-30,6.849186,5152.0,356157.76,3010735,52000.013276,52000.017486,6.849186
7151160,1002320,2005-09-30,6.492191,7544.0,337594.00,3008620,52000.007954,52000.017486,6.492191
7151161,1002320,2005-09-30,6.363567,5888.0,330905.60,3010769,52000.015350,52000.017486,6.363567
7151162,1002320,2005-09-30,6.097473,5520.0,317068.80,3000575,52000.032224,52000.017486,6.097473
7151163,1002320,2005-09-30,5.881699,5704.0,305848.48,3006588,52000.025905,52000.017486,5.881699
7151164,1002320,2005-09-30,5.851196,7176.0,304262.40,3000116,52000.032979,52000.017486,5.851196
7151165,1002320,2005-09-30,5.566635,6256.0,289465.12,3011490,52000.016733,52000.017486,5.566635
7151166,1002320,2005-09-30,5.491974,5336.0,285582.72,3006147,52000.014275,52000.017486,5.491974
7151167,1002320,2005-09-30,5.391766,10304.0,280371.84,3006616,52000.005395,52000.017486,5.391766
7151168,1002320,2005-09-30,5.148460,4600.0,267720.00,3004409,52000.011618,52000.017486,5.148460
7151169,1002320,2005-09-30,5.049206,3864.0,262558.80,3001492,52000.019694,52000.017486,5.049206
7151170,1002320,2005-09-30,5.038059,7728.0,261979.20,3010291,52000.023779,52000.017486,5.038059
7151171,1002320,2005-09-30,4.932049,3496.0,256466.56,3010344,52000.004567,52000.017486,4.932049
7151172,1002320,2005-09-30,4.914215,20608.0,255539.20,3007714,52000.003140,52000.017486,4.914215
7151173,1002320,2005-09-30,4.769279,4784.0,248002.56,3010761,52000.005670,52000.017486,4.769279
...,...,...,...,...,...,...,...,...,...
7151289,1002320,2005-09-30,0.503735,736.0,26194.24,3008939,52000.032946,52000.017486,0.503735
7151290,1002320,2005-09-30,0.485194,736.0,25230.08,3007492,52000.012513,52000.017486,0.485194
7151291,1002320,2005-09-30,0.467820,552.0,24326.64,3009437,52000.007878,52000.017486,0.467820
7151292,1002320,2005-09-30,0.455612,368.0,23691.84,3004069,52000.014275,52000.017486,0.455612
7151293,1002320,2005-09-30,0.441600,552.0,22963.20,3011215,52000.018147,52000.017486,0.441600
7151294,1002320,2005-09-30,0.437354,2208.0,22742.40,3001018,52000.027960,52000.017486,0.437354
7151295,1002320,2005-09-30,0.431515,1656.0,22438.80,3002267,52000.020219,52000.017486,0.431515
7151296,1002320,2005-09-30,0.429852,736.0,22352.32,3002898,52000.007313,52000.017486,0.429852
7151297,1002320,2005-09-30,0.421360,368.0,21910.72,3001617,52000.027465,52000.017486,0.421360
7151298,1002320,2005-09-30,0.390009,552.0,20280.48,3001131,52000.008794,52000.017486,0.390009
7151299,1002320,2005-09-30,0.370901,552.0,19286.88,3003604,52000.026954,52000.017486,0.370901
7151300,1002320,2005-09-30,0.351015,736.0,18252.80,3008715,52000.008185,52000.017486,0.351015
7151301,1002320,2005-09-30,0.346380,552.0,18011.76,3006516,52000.000699,52000.017486,0.346380
7151302,1002320,2005-09-30,0.325998,552.0,16951.92,3006876,52000.024766,52000.017486,0.325998
7151303,1002320,2005-09-30,0.280246,368.0,14572.80,3006622,52000.024953,52000.017486,0.280246
7151304,1002320,2005-09-30,0.270267,368.0,14053.92,3003151,52000.039584,52000.017486,0.270267
7151305,1002320,2005-09-30,0.252221,368.0,13115.52,3005393,52000.039700,52000.017486,0.252221
7151306,1002320,2005-09-30,0.235166,368.0,12228.64,3003836,52000.017911,52000.017486,0.235166
7151307,1002320,2005-09-30,0.222534,184.0,11571.76,3006793,52000.005630,52000.017486,0.222534
7151308,1002320,2005-09-30,0.220658,736.0,11474.24,3004502,52000.009432,52000.017486,0.220658
7151309,1002320,2005-09-30,0.219243,368.0,11400.64,3000403,52000.006475,52000.017486,0.219243
7151310,1002320,2005-09-30,0.176534,184.0,9179.76,3006623,52000.008221,52000.017486,0.176534
7151311,1002320,2005-09-30,0.172642,1288.0,8977.36,3007948,52000.006846,52000.017486,0.172642
7151312,1002320,2005-09-30,0.155869,920.0,8105.20,3007844,52000.034846,52000.017486,0.155869
7151313,1002320,2005-09-30,0.129720,552.0,6745.44,3004840,52000.010979,52000.017486,0.129720
7151314,1002320,2005-09-30,0.129225,368.0,6719.68,3006510,52000.030816,52000.017486,0.129225
7151315,1002320,2005-09-30,0.103818,552.0,5398.56,3011080,52000.022511,52000.017486,0.103818
7151316,1002320,2005-09-30,0.093886,173.0,4882.06,3000008,52000.027391,52000.017486,0.093886
7151317,1002320,2005-09-30,0.066877,1288.0,3477.60,3004283,52000.027060,52000.017486,0.066877
7151318,1002320,2005-09-30,0.010615,736.0,552.00,3002963,52000.029377,52000.017486,0.010615